header {
	height: 200px;
}

header img{
	width: 200px;
	heigth: 200px;
	margin: 0 auto;
	position: relative;
}

header .middle {
	margin-left: 250px;
}

header .middle  input{
	margin: 20px 0px 0px 20px;
}

header ul li {
	display: inline;
	margin-left: 10px;
}

body {
	color: #333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.checkbox label input{
	margin-right: 10px;
}

.container {
	width: 1000px;
}

.menu-principal h3{
	position: relative;
	font-size: 124px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 100px auto;
}

.menu-principal img {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	position: relative;
}

.menu-marmita {
	margin-left: 130px;
	bottom: 0;
	right: 0;
}

.menu-marmita .line label{
	margin-left: -60px;
}

.menu-marmita ul li {
	display: inline;
	margin-left: 10px;
}

.inputPesquisar {
	margin: 10px 0px 3px 75px;
	width: 300px;
}

.form {
	width:400px; 
	margin: 0 auto;
}

.form-signin {
	width: 300px;
	margin: 0 auto;
}

